.articles__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 870px) {
  .articles__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1140px) {
  .articles__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
