<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

<app-side-bar></app-side-bar>

<div class="articles__wrapper">
  <ng-container *ngFor="let article of articles">
    <app-article [article]="article"></app-article>
  </ng-container>
</div>
