<div class="article">
  <h3 class="article__title">{{ article.title }}</h3>
  <img src="{{ article.urlToImage }}" alt="articel image" class="article__image" />
  <h4 class="article__author">Author: {{ article.author }}</h4>
  <p>{{ article.publishedAt | date: 'MMMM dd/yyyy - hh:mm aa' }}</p>
  <p class="article__description">{{ article.description }}</p>
  <a href="{{ article.url }}" target="_blank" class="article__link">Read more...</a>
</div>
