.article {
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  padding: 20px 10px;
  height: 100%;
  background-color: #ffffff80;
}

.article__title {
  text-transform: uppercase;
  font-weight: 800;
}

.article__image {
  width: 100%;
  margin: 20px 0 10px 0;
}

.article__author {
  text-transform: uppercase;
  line-height: 1.5rem;
}

.article__description {
  margin: 15px 0;
}
