<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>
      <a [routerLink]="['/favorites']" routerLinkActive="router-link-active">Favorites</a>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>
      <button (click)="logout()">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
