<div class="auth">
  <div class="auth__wrapper">
    <h2 class="auth__header">News</h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()" class="auth__form">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
          name="email"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          name="password"
          required
        />
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" class="auth__btn">
        Login
      </button>
    </form>
    <nav class="auth__link">
      Don't have an account?
      <a routerLink="/signup" routerLinkActive="active">sign up</a>
    </nav>
  </div>
</div>
