<div class="auth">
  <div class="auth__wrapper">
    <h2 class="auth__header">News</h2>
    <form [formGroup]="signup" (ngSubmit)="onSubmit()" class="auth__form">
      <mat-form-field>
        <input
          matInput
          placeholder="First name"
          formControlName="firstName"
          type="text"
          name="firstName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Last name"
          formControlName="lastName"
          type="text"
          name="lastName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
          name="email"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          name="password"
          required
        />
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" class="auth__btn">
        Sign up
      </button>
    </form>
    <nav class="auth__link">
      Have an account?
      <a routerLink="/login" routerLinkActive="active">login</a>
    </nav>
  </div>
</div>
