/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
@import './reset.css';

body {
  background-color: #8594a6;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.auth * {
  box-sizing: border-box;
}

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Muli', sans-serif;
}

.auth__wrapper {
  min-width: 400px;
  box-shadow: 0 0 20px black;
  background: #fff;
  padding: 20px;
  z-index: 100;
}

.auth__header {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

form.auth__form {
  display: flex;
  flex-direction: column;
}

.auth button.auth__btn {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0;
  background-color: #034358;
  text-transform: uppercase;
  font-weight: 600;
}

.auth__link {
  margin-bottom: 40px;
}

.auth__link a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #8594a6;
}

.auth__link a:hover {
  color: #034358;
}

.bg-bubbles {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 10%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-150vh) rotate(600deg);
    transform: translateY(-150vh) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-150vh) rotate(600deg);
    transform: translateY(-150vh) rotate(600deg);
  }
}

mat-progress-bar.mat-progress-bar {
  position: fixed;
  top: 0;
}

.mat-progress-bar[color='primary'] .mat-progress-bar-fill::after {
  background-color: #034358;
}

.mat-progress-bar-buffer {
  background-color: #e0e0e0;
}

app-side-bar {
  height: 100%;
  width: 200px;
  float: left;
  border-right: 2px solid black;
  background-color: #f5f5f5;
}
